/* What is CSS?
1. Css stands for Cascading Style Sheets.
2. Css has selector ,properties and values.
3. It is mainly used for styling the web page.
4. Styling is done by trageting the given selctor.
5. Css selector can either be element ,classes ,ids  or attributes. 
*/

/*CSS EXAMPLE

<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
</style>
</head>
<body>

<h1>My First CSS Example</h1>
<p>This is a paragraph.</p>

</body>
</html>



*/

